In [6]:
# 1부터 N까지 연속한 숫자의 합을 구하는 알고리즘
# 입력 : N
# 출력 : 1부터 N까지 숫자를 더한 값

# 함수 정의
def sum_n(n):
    s = 0 # 초기화 > 최초의 s(합) 초기화
    
    for i in range(1, n+1): # 1부터 n까지 반복(n+1 > range에서 마지막 숫자는 포함 안됨)
        s = s + i
    return s

In [9]:
print(sum_n(10))

55

In [10]:
print(sum_n(100))

5050

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
len(list(range(10)))

10

In [11]:
# n(n+1) / 2

def sum_n_2(n):
    return n*(n+1)//2 # '//' 정수 나눗셈 의미

print(sum_n_2(10))

55

In [12]:
print(sum_n_2(100))

5050